<footer class="footer">

    <div class="footer-grid">

        <div>
            <h3>О нас</h3>
            <p>О компании</p>
            <p>Вакансии</p>
            <p>Программа бета-тестирования</p>
            <p>Информация для партнёров</p>
            <p>Размещение рекламы</p>
            <p>Пользовательское соглашение</p>
            <p>Политика конфиденциальности</p>
            <p>Оставить отзыв</p>
        </div>

        <div>
            <h3>Разделы</h3>
            <p>Главная</p>
            <p>Подписки</p>
            <p>Фильмы</p>
            <p>Сериалы</p>
            <p>Телеканалы</p>
        </div>

        <div>
            <h3>Служба поддержки</h3>
            <p>Мы всегда готовы вам помочь.</p>
            <p>Наши операторы онлайн 24/7</p>
            <button class="chat-btn">Написать в чате</button>
        </div>

    </div>

</footer>