<header class="header">
    <div class="header-left">
        <div class="logo">Кинотеатр</div>
        <span class="online">▶ Онлайн-кинотеатр</span>
    </div>

    <div class="search">
        <input type="text" placeholder="Фильмы, сериалы, личности">
    </div>

    <div class="header-right">
        <span class="user">Юливаня</span>
        <div class="avatar"></div>
    </div>
</header>

<nav class="sidebar">
    <ul>
        <li>Главная</li>
        <li>Подписки</li>
        <li>Фильмы</li>
        <li>Сериалы</li>
        <li>елеканалы</li>
    </ul>
</nav>