<!-- <header class="header">
    <div class="header-left">
        <div class="logo">Кинотеатр</div>
        <span class="online">▶ Онлайн-кинотеатр</span>
    </div>

    <div class="search">
        <input type="text" placeholder="Фильмы, сериалы, личности">
    </div>

    <div class="header-right">
        <span class="user">Юливаня</span>
        <div class="avatar"></div>
    </div>
</header> -->
<header>
        <div class="headerLeft">
            <h1>Кинотеатр</h1>
            <img src="./img/mdi_play.png" alt="">
            <a href="#" class="kino">Онлайн-кинотеатр</a>
        </div>

        <div class="searchContainer">
            <input type="text" placeholder="Фильмы, сериалы, личности" class="searchInput">
            <img src="./img/material-symbols_search.png" alt="" class="searchIcon">
        </div>

        <div class="headerRight">
            <a href="#" class="notification">
                <img src="./img/mingcute_notification-line.png" alt="">
            </a>
            <a href="profile.html" class="vhod">
                <img src="./img/icon-park-outline_people.png" alt="">
                Юливаня
            </a>
        </div>
    </header>

<nav class="sidebar">
    <ul>
        <li>
            <img src="img/home.png" alt="Главная" class="sidebar-icon">
            <a href="главная.html">Главная</a>
        </li>
        <li>
            <img src="img/diamond.png" alt="Подписки" class="sidebar-icon">
            <a href="#">Подписки</a>
        </li>
        <li>
            <img src="img/movie.png" alt="Фильмы" class="sidebar-icon">
            <a href="#">Фильмы</a>
        </li>
        <li>
            <img src="img/serial.png" alt="Сериалы" class="sidebar-icon">
            <a href="#">Сериалы</a>
        </li>
        <li>
            <img src="img/tv.png" alt="Телеканалы" class="sidebar-icon">
            <a href="#">Телеканалы</a>
        </li>
        <li>
            <img src="img/mdi_play.png" alt="Каталог" class="sidebar-icon">
            <a href="katalog.html">Каталог</a>
        </li>
    </ul>
</nav>